* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('a9.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}


.logo {
  margin-right: 800px;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  z-index: -1;
}

.container {
  display: flex;
  width: 100%;
}

.navbar .logo {
  font-size: 24px;
  color: #E07A41;
  font-weight: bold;
}

.navbar {
  background-color: #1f251f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: -10px;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

.navbar ul li {
  display: inline;
}

.navbar.black {
  color: #1f251f;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
}

.dashboard-btn {
  background-color: #c07042;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.hero {
  background: url('background-image.jpg') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 50px 0;
  font-size: 28px;
  font-weight: bold;
}

h1 {
  color: white;
  margin-top: 30px;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  max-width: 900px;
  margin: auto;
}

.step {
  display: flex;
  align-items: center;
  background: #fef4eb;
  padding: 20px;
  border-radius: 15px;
  gap: 15px;
}

.step-number {
  background: #91c788;
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.step-content h2 {
  color: #d96c33;
  font-size: 22px;
}

.step-content p {
  margin: 5px 0;
}

.tags {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.tags span {
  background: #d96c33;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}